# SQL Analysis

In this notebook, we will use SQL to perform aggregations and JOINS to produce some dashboard-ready tables

In [ ]:
import os
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

load_dotenv()

# Establish Connection

In [4]:
DATABASE_URL = os.getenv("DATABASE_URL")
engine = create_engine(DATABASE_URL)

# Check
with engine.connect() as conn:
    print("Database connection established successfully!")

Database connection established successfully!

# Query 1: Exclusive Games per Console

In [ ]:
query = '''

'''